body {
    background-color: #F7F7F7;
    font-family: Arial, sans-serif;
}

.header {
    height: 60px;
    background-color: #C7B8EA;
    padding: 20px;
    text-align: center;
}

    .header h1 {
        color: #FFFFFF;
        font-size: 24px;
    }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #7A288A;
    padding: 20px;
}

    .sidebar h2 {
        color: #FFFFFF;
        font-size: 18px;
    }

    .sidebar ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }

    .sidebar a {
        color: #FFFFFF;
        text-decoration: none;
    }

.main-content {
    margin-left: 200px;
    padding: 20px;
}

    .main-content section {
        background-color: #F7F7F7;
        padding: 20px;
        margin: 20px;
        border: 1px solid #CCCCCC;
    }

    .main-content h2 {
        color: #7A288A;
        font-size: 18px;
    }

.footer {
    height: 40px;
    background-color: #C7B8EA;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}

    .footer p {
        font-size: 18px;
    }

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
    }

    .main-content {
        margin-left: 0;
    }
}
